<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#pageTitle}}
  <title>{{pageTitle}} - {{helpers.defaultPageTitle}}</title>
  {{/pageTitle}}
  {{^pageTitle}}
  <title>{{helpers.defaultPageTitle}}</title>
  {{/pageTitle}}
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <header>
    <h1>{{helpers.defaultPageTitle}}</h1>
    {{#user}}
    <div class="profile">
      Olá, <a href="/profile">{{user.name}}</a>!
    </div>
    {{/user}}
    <hr>
    <ul>
      {{#helpers.menu}}
      <li><a href="{{slug}}">{{name}}</a></li>
      {{/helpers.menu}}
    </ul>
  </header>

  {{#flashes}}
  {{#success}}
  <div class="warning-success">{{.}}</div>
  {{/success}}

  {{#error}}
  <div class="warning-error">{{.}}</div>
  {{/error}}
  </div>
  {{/flashes}}

  <main>