{{> header}}

<h1>Página Home</h1>

{{#posts}}
<div class="post">
  <h3><a href="/post/{{slug}}"> {{title}}</a></h3>
  <p>{{body}}</p>
  <a href="/post/{{slug}}/edit">[EDITAR]</a>
</div>
{{/posts}}

{{> footer}}