{{> header}}

{{#posts}}
<div class="post">
  {{#photo}}
  <img src="/uploads/{{photo}}" alt="{{title}}">
  {{/photo}}

  <h3>
    <a href="/post/{{slug}}"> {{title}}</a>
  </h3>

  <p>{{body}}</p>
  <small>Autor: {{author.name}}</small>

  {{#user}}
  <a href="/post/{{slug}}/edit">[EDITAR]</a>
  {{/user}}
</div>
{{/posts}}

<div class="tags">
  {{#tags}}
  <div class="tag {{class}}">
    <a href="/?tag={{_id}}">{{_id}} ({{count}})</a>
  </div>
  {{/tags}}
</div>

{{> footer}}