{{> header}}

<div class="main-home">
{{#posts}}
  <div class="post">
    {{#photo}}
    <div class="img" style="background-image: url('/uploads/{{photo}}');"></div>
    {{/photo}}

    <h3>
      <a href="/post/{{slug}}"> {{title}}</a>
    </h3>

    <p>{{body}}</p>
    <div class="bottom-article">
      <small>Autor: {{author.name}}</small>

      <br>

      {{#canEdit}}
      <div class="can-edit">
        <a href="/post/{{slug}}/edit">[EDITAR]</a>
        <a href="/post/{{slug}}/delete">[APAGAR]</a>
      </div>
      {{/canEdit}}
    </div>
  </div>
  {{/posts}}
</div>

<div class="tags">
  {{#tags}}
  <div class="tag {{class}}">
    <a href="/?tag={{_id}}">{{_id}}</a>
  </div>
  {{/tags}}
</div>
{{> footer}}