{{> header}}

<h1>Faça o seu Login</h1>

<form method="POST">
  <label for="email">
    E-mail:<br>
    <input type="email" name="email" id="email">
  </label>

  <br>
  <br>

  <label for="password">
    Senha:<br>
    <input type="password" name="password" id="password">
  </label>

  <br>
  <br>

  <input type="submit" value="Login">

</form>

{{> footer}}