{{> header}}

<h1>Editar Post</h1>

<form method="POST" enctype="multipart/form-data">
  <label for="photo">
    Imagem:<br>
    <input type="file" name="photo" id="photo">

    {{#post.photo}}
    <img width="200" style="text-align: center;" src="/uploads/{{post.photo}}" alt="{{post.title}}">
    {{/post.photo}}
  </label>

  <br>
  <br>

  <label for="title">
    Título:<br>
    <input type="text" name="title" id="title" value="{{post.title}}">
  </label>

  <br>
  <br>

  <label for="body">
    Corpo:<br>
    <textarea name="body" id="body">{{post.body}}</textarea>
  </label>

  <br>
  <br>

  <label for="tags">
    Tags: <small>(Separe as tags por vírgula)</small> <br>
    <input type="text" name="tags" id="tags" value="{{post.tags}}">
  </label>

  <br>
  <br>

  <input type="submit" value="Salvar">
</form>

{{> footer}}