{{> header}}

<h2>Adicionar Post</h2>

<form method="POST">
  <label for="title">
    Título:<br>
    <input type="text" name="title" id="title">
  </label>

  <br>

  <label for="body">
    Corpo:<br>
    <textarea name="body" id="body"></textarea>
  </label>

  <br>

  <label for="tags">
    Tags:<br>
    
  </label>

  <br>

  <input type="submit" value="Salvar">
</form>

{{> footer}}