{{> header}}

<h1>Faça o seu Cadastro</h1>

<form method="POST">

  <label for="name">
    Nome:<br>
    <input type="text" name="name" id="name" required minlength="2" maxlength="50">
  </label>

  <br>
  <br>

  <label for="email">
    E-mail:<br>
    <input type="email" name="email" id="email" required maxlength="50">
  </label>

  <br>
  <br>

  <label for="password">
    Senha:<br>
    <input type="password" name="password" id="password" required minlength="8">
  </label>

  <br>
  <br>

  <label for="password_confirmation">
    Confirme a senha:<br>
    <input type="password" name="password_confirmation" id="password_confirmation" required minlength="8">
  </label>

  <br>
  <br>

  <input type="submit" value="Cadastrar">

</form>

{{> footer}}