{{> header}}

<h1>Nova senha</h1>

<form method="POST">
  <label for="password">
    Nova senha:<br>
    <input type="password" name="password" id="password">
  </label>

  <br>
  <br>

  <label for="password_confirmation">
    Confirme a senha:<br>
    <input type="password" name="password_confirmation" id="password_confirmation">
  </label>

  <br>
  <br>

  <input type="submit" value="Salvar">
</form>

{{> footer}}