{{> header}}

<article>
  <h1>{{post.title}}</h1>

  <p>{{post.body}}</p>
</article>

<hr>

<div class="article-info">
  <small>Criado em: {{post.created_at}}</small>

  <br>

  <small>Tags: {{post.tags}}</small>
</div>

{{> footer}}