{{> header}}

<article>
  <h1>{{post.title}}</h1>

  <p>{{post.body}}</p>
</article>

<hr>

<div class="article-info">
  <small>Criado em: <time>{{post.created_at}}</time></small>

  <br>

  {{#post.tags}}
  <small>Tags: {{post.tags}}</small>
  {{/post.tags}}
</div>

<script>
  window.onload = () => {
    let dateTag = document.querySelector('time').innerHTML;
    let date = new Date(dateTag).toLocaleString('en-GB');

    document.querySelector('time').innerHTML = date;
  };
</script>

{{> footer}}