@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #EEE;
  margin: 0;
}

header {
  background-color: #DDD;
  padding: 10px;
  border-bottom: 1px solid #CCC;
}

h1 {
  padding: 0 20px;
}

header h1 {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  padding: 10px;
}

.warning-success {
  border: 2px solid #198754;
  background-color: #198754;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
}

.warning-error {
  border: 2px solid #dc3545;
  background-color: #dc3545;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 15px;
}

.main-home {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  max-width: 1440px;
}

.post {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  min-height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #999;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.post .img {
  border-radius: 5px;
  height: 300px;
  background-position: center center;
}

.post h3 {
  text-align: center;
}

.post p {
  text-align: justify;
}

.post-view p{
  line-height: 1.8em;
  text-align: justify;
}

form {
  margin: 20px;
}

label {
  display: flex;
  flex-flow: column;
  margin: 5px 0;
}

label img {
  margin-top: 15px;
  align-self: center;
}

input,
textarea {
  display: block;
  padding: 10px 15px;
  border: 2px solid #CCC;
  font-size: 16px;
  outline: 0;
  resize: none;
  margin-top: 10px;
  width: 400px;
}

textarea {
  height: 200px;
}

input[type=submit]:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.tags .tag {
  padding: 10px;
}

.tag.selected a {
  background-color: #0d6efd;
  color: #fff;
}

article p {
  padding: 0 20px;
}

.article-info {
  padding: 0 20px;
}

.profile {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.profile a {
  margin-left: 5px;
  color: #0707a7;
}

.can-edit {
  display: flex;
  justify-content: center;
}

.can-edit a {
  margin-top: 5px;
  padding: 2px;
}

.tags .tag {
  margin-top: 10px;
}

.tags a {
  border: 1px solid #ccc;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.2s all ease-in-out 0s;
}

.tags a:hover {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .post {
    min-width: 250px;
  }
}

@media (max-width: 425px) {
  label {
    width: 100%;
  }

  input, textarea {
    width: 100%;
  }
}

@media (max-width: 280px) {
  ul li {
    font-size: 14px;
  }
}